In [39]:
import numpy as np
import pandas as pd
dataset = pd.read_csv('D:\Hamoye_Internship\DataSet\FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding="latin-1")

In [40]:
# Question 1
arr  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])
arr=np.array(array)
arr[:2,1:]

array([[89, 63],
       [92, 48]])

In [41]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [44]:
dataset.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [47]:
# Question 2
dataset1 = dataset.loc[ lambda x : (x['Item'] == "Wine")]
df = dataset1.groupby(['Item'])['Y2015','Y2018'].sum()

print(df)

        Y2015    Y2018
Item
Wine  4251.81  4039.32

C:\Users\ahmri\AppData\Local\Temp\ipykernel_12140\179119418.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df = dataset1.groupby(['Item'])['Y2015','Y2018'].sum()

In [53]:
# Question 3
dataset1 = dataset.loc[ lambda x : (x['Element'] == "Stock Variation")]
dataset1.groupby('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()

C:\Users\ahmri\AppData\Local\Temp\ipykernel_12140\2056037146.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dataset1.groupby('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()

                    Y2014     Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

In [54]:
# Question 4
lst = [[35,'Portugal',94],[33,'Argentina',93],[30,'Brazil','92']]
col = ['Age','Nationality','Overall']

In [55]:
pd.DataFrame(lst, columns=col, index=(i for i in range(1,4)))

   Age Nationality Overall
1   35    Portugal      94
2   33   Argentina      93
3   30      Brazil      92

In [61]:
# Question 5
missing = dataSet.columns[dataSet.isnull().any()].tolist()
round(dataSet[missing].isnull().sum().sort_values(ascending = False)/len(dataSet)*100,3)

Y2014    2.607
Y2015    2.540
Y2016    2.519
Y2017    2.471
Y2018    2.356
dtype: float64

In [67]:
# Question 6
dataset1 = dataset.loc[ lambda x : (x['Element'] == "Processing")]
dataset1.groupby('Element')['Y2017'].sum()

Element
Processing    292836.0
Name: Y2017, dtype: float64

In [68]:
# Question 7
# Math

In [78]:
# Question 8
dataSet.groupby(['Area'])['Y2017'].sum().sort_values(ascending=False).head(4)

Area
Nigeria         1483268.23
Egypt            866379.92
South Africa     517590.54
Ethiopia         448683.76
Name: Y2017, dtype: float64

In [79]:
# Question 9
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [80]:
# Question 10
# Set

In [84]:
# Question 11
dataSet.groupby(['Area'])['Y2017'].sum().sort_values(ascending=False).head(7)

Area
Nigeria         1483268.23
Egypt            866379.92
South Africa     517590.54
Ethiopia         448683.76
Morocco          388495.36
Ghana            337599.06
Algeria          325644.27
Name: Y2017, dtype: float64

In [85]:
# Question 12
# 3 features, 100 observations

In [86]:
# Question 13
dataset.shape

(60943, 12)

In [101]:
# Question 14
dataset.nunique()

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64

In [110]:
# Question 15
dataset.mean().round(2)

C:\Users\ahmri\AppData\Local\Temp\ipykernel_12140\4237683916.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.mean().round(2)

Area Code        134.27
Item Code       2687.18
Element Code    3814.86
Y2014            134.20
Y2015            135.24
Y2016            136.56
Y2017            140.92
Y2018            143.76
dtype: float64

In [109]:
# Question 15
dataset.std().round(2)

C:\Users\ahmri\AppData\Local\Temp\ipykernel_12140\4087182972.py:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.std().round(2)

Area Code         72.61
Item Code        146.06
Element Code    2212.01
Y2014           1567.66
Y2015           1603.40
Y2016           1640.01
Y2017           1671.86
Y2018           1710.78
dtype: float64

In [111]:
# Question 16
# df.iloc[:]

In [114]:
# Question 17
dataset1 = dataset.loc[ lambda x : (x['Area'] == "Madagascar")]
df1 = dataset1.loc[lambda x: x['Element']=='Protein supply quantity (g/capita/day)']
df = df1.groupby(['Element'])['Y2015'].sum()

print(df)

Element
Protein supply quantity (g/capita/day)    173.05
Name: Y2015, dtype: float64

In [119]:
# Question 18
df3 = dataset[['Element Code','Y2014','Y2015','Y2016','Y2017','Y2018']].dropna()
df3.corr() 
##value.min()

              Element Code     Y2014     Y2015     Y2016     Y2017     Y2018
Element Code      1.000000  0.026257  0.025632  0.025080  0.025932  0.025989
Y2014             0.026257  1.000000  0.994647  0.996081  0.995229  0.994871
Y2015             0.025632  0.994647  1.000000  0.995738  0.988047  0.988207
Y2016             0.025080  0.996081  0.995738  1.000000  0.992784  0.992756
Y2017             0.025932  0.995229  0.988047  0.992784  1.000000  0.998103
Y2018             0.025989  0.994871  0.988207  0.992756  0.998103  1.000000

In [120]:
# Question 19
# Type Error

In [125]:
#Question 20
y = [(2, 4), 
     (7, 8), 
     (1, 5, 9)]
x = y[1][1]
x

8